# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/images/countries/aq/vector.svg
public/images/countries/bh/vector.svg
public/images/countries/bz/vector.svg
public/images/countries/ec/vector.svg
public/images/countries/gq/vector.svg
public/images/countries/ky/vector.svg
public/images/countries/mo/vector.svg
public/images/countries/uz/vector.svg
